name: Deploy

on:
  push:
    branches: [main]
    paths:
      - 'build/**'

jobs:
  Deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build & Deploy
        env:
          PRIVATE_KEY: ${{ secrets.AWS_KEY }}
          HOSTNAME: ${{secrets.AWS_HOST}}
          USER_NAME: ${{secrets.AWS_USERNAME}}

        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '
              
              # Now we have got the access of EC2 and we will start the deploy .
              ./deploy.sh
              '
